FILE    mesh/1hel_parse_ph9_d16_split          dielectric_interface
FILE    mesh/sensor_60x60x20_d02               neumann_surface           sensor_d02_60x60x20_3e-5+3e-5+3e-5+3e-5+3e-5+3e-5.phi0
--------------------------------
PARAM   LorY pot?   Dielec  kappa   charges?    coulomb?    charge_file                         Nparent     parent      Nchild      children
FIELD   2    0      80      0.086   0           0           NA                                  0           NA          2           0 1
FIELD   1    1      4       1e-12   1           1           1hel_parse_ph9.pqr                  1           0           0           NA
FIELD   NA   1      NA      NA      0           0           NA                                  1           1           0           NA
--------------------------------
PARAM        Efield
EXTERNAL     5.5264e-5
